{% extends "account/base.html" %}
{% load i18n %}

{% block title %}Nova Senha{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold text-gray-800 text-center mb-2">Digite sua nova senha</h2>

{% if token_fail %}
<p class="text-red-500 text-center text-sm mb-6">O link de redefinição de senha era inválido, possivelmente porque já
    foi usado. Solicite uma nova redefinição.</p>
<a href="{% url 'account_reset_password' %}"
    class="w-full block text-center bg-gray-900 hover:bg-black text-white font-bold py-3 px-4 rounded-full transition duration-200">
    Nova Solicitação
</a>
{% else %}
<form class="w-full" method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="mb-4 text-red-500 text-sm text-center font-medium">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% for field in form %}
    <div class="mb-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2 capitalize" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        <input
            class="shadow-sm appearance-none border border-gray-300 rounded-xl w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type|default:'password' }}"
            name="{{ field.html_name }}" placeholder="********" required>
        {% if field.errors %}
        <p class="text-red-500 text-xs italic mt-1">{{ field.errors.0 }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <button
        class="w-full mt-2 bg-gray-900 hover:bg-black text-white font-bold py-3 px-4 rounded-full transition duration-200"
        type="submit">
        Alterar Senha
    </button>
</form>
{% endif %}
{% endblock %}