SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GEMINI_API_KEY=
PERPLEXITY_API_KEY=

# Vertex AI
VERTEX_PROJECT_ID=
VERTEX_LOCATION=global
VERTEX_DATA_STORE_ID=
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json

# Database
DATABASE_URL=postgres://usuario:senha@localhost:5432/nome_banco
