# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Python
*.py[cod]
*$py.class
env/
venv/
.env
.DS_Store

# GCP Credentials
google-credentials.json


git_up.md

# Google Cloud Credentials (Secret)
gcp-credentials.json*
